.team ul{width:512px;}
.team ul li:nth-of-type(1){color:#575757;font-size: 24px}
.team ul li:nth-of-type(2){color:#7d7d7d;font-size: 20px;padding-right:68px;margin:20px 0px 30px;}
.team ul li:nth-of-type(3){color:#7d7d7d;font-size: 20px;padding-right:68px;}

.history{background:url(../img/history.png) no-repeat center center;height:425px;margin-top:77px;padding:80px 0px 0px;}
.history .step{font-size: 24px;color:#fff;margin-bottom:90px;}
.history ul {position:relative}
.history ul li{float:left;color:#fff;text-align: center}
.history ul li:nth-of-type(1){position:absolute;left: 5px;top: -54px;}
.history ul li:nth-of-type(1) .cir{margin-top:20px;}
.history ul li:nth-of-type(2){position:absolute;left: 290px;top: -12px;}
.history ul li:nth-of-type(2) .cir{margin-bottom:20px;}
.history ul li:nth-of-type(3){position:absolute;left: 575px;top: -54px;}
.history ul li:nth-of-type(3) .cir{margin-top:20px;}
.history ul li:nth-of-type(4){position:absolute;right: 2px;top: -12px;}
.history ul li:nth-of-type(4) .cir{margin-bottom:20px;}
.history ul li .cir{background:url(../img/cir.png) no-repeat;width:25px;height:25px;margin:0 auto;}
.history  .score{width:1040px;height:1px;background-color:#fff;margin:60px 0px 0px 80px;}

.adv{padding:77px 0px;}
.adv .ad{color:#575757;font-size:24px;margin-bottom:72px;}
.adv ul li{float:left;width:25%;text-align: center}
.adv ul li dl dt{margin-bottom:32px;}
.adv ul li dl dd:nth-of-type(1){color:#535353;font-size: 20px}
.adv ul li dl dd:nth-of-type(2){width:73px;height:1.6px;background-color: #f5cd4e;margin:20px auto;}
.adv ul li dl dd:nth-of-type(3){color:#797979;font-size: 17px}